@import 'utils/rem';
@import 'utils/mixins';
@import 'variables/font-sizes';
@import 'variables/sizes';
@import 'variables/colors';

.home-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    &__header {
        display: flex;
        justify-content: center;
        font-size: rem($font-size-32);
        color: $white;
        background-color: $blue-800;
        padding-top: $size-16;
        padding-bottom: $size-16;
    }

    &__main {
        flex: 1 0 auto;
        padding: rem($size-8);
        background: transparent linear-gradient(300deg, $blue-50, $mint-50 100%) no-repeat;
        
        @include bp-lg {
            padding: rem($size-64) rem($size-128);
        }
    }
    
    &__footer {
        flex: 0 0 auto;
        border-top: 2px solid $blue-800;
        background: $gray-50;
        color: $gray-750;
        padding: rem($size-48);
    }
}
